
body{
    
    font-family: 'Nunito', sans-serif;
}


/* Secciones del HTML */
.header{
    border-bottom: 1px solid gainsboro;
    padding-bottom: 0px;
    padding-top: 5px;
    background-color:white;
    border-bottom: 0px  
}

.header{
    z-index: 999 !important;
    position: fixed;
    background-color: white;
    width: 100%;
    border-bottom: 2px solid blue;
}

#nosotros{
    padding-top:70px;
    background-image: url(../assets/fondo-body.jpg);
    background-size: cover;
    background-color: transparent;
}

#footer{
    background-color:rgb(233, 227, 227);
    border-top: 2px solid lightskyblue;

}

/* Hace transparente el menu */
.top-bar, .top-bar ul { 
    background-color: transparent;
}


/* margen de seccion nosotros */
#nosotros{
background-color: transparent;
}

/* Imagen de fondo de quien somos */
.section-nosotros{
    background-color: rgba(214, 197, 191, 0.7);
}

.section-nosotros2{
    background-color: rgba(14, 13, 13, 0.7);
    height: 380px;
}

/* Imagen de fondo de Innovacion */
.section-innova{
    background-color: rgba(240,237,236,0.7);
}


/* Color de letra blanca */
.white-text{
    color: white;
}

.card{
    -webkit-box-shadow: 10px 6px 75px -27px rgba(0,0,0,1);
    -moz-box-shadow: 10px 6px 75px -27px rgba(0,0,0,1);
    box-shadow: 10px 6px 75px -27px rgba(0,0,0,1);
    /* border-radius: 10px; */
    padding: 5px
}

/* Linea divisora de la Card de hace mas angosta */

.card-divider{
    padding: 1px;
    background-color: gray
}

/* Disminucion de padding de header de card */
.card-header {
    padding: 5px;
}

/* iCONO DE LA CARD */
.icon-card{
    font-size: 60px;
    vertical-align: middle;
    color: white
}

/* barra de navegacion small */
.barra-small ul{
    background-color: lightblue;
    margin-top: 0px;
    font-size: 30px;
}

.barra-small  ul li{
    background-color: white;
    font-size: 25px;
} 

.barra-small  {
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    padding-top: 0px;
    margin-top: 20px
}

.tabs-content{
    background-color: transparent;color: white;
    border: 0px;
    border-top: 1px solid white
}
.tabs{
    background-color: transparent;
    border: 0px
}

.tabs-title > a:focus, .tabs-title > a[aria-selected='true']
{
    background-color:transparent;
    color:white;
    border-bottom: 2px solid blue;
    transition: width 2s, height 2s, transform 2s;
    background-color: rgba(31, 29, 29, 0.74);
   
}

.tabs-title > a:hover{
    background-color: rgba(31, 29, 29, 0.74);
    border-bottom: 2px solid blue;
    
}

.parraf1{
    font-size: 20px
}


.ait-text{
   animation: mymove 1.5s ; 
}

.ait-text2{
    animation: mymove2 2s ; 
 }

@keyframes mymove {
    0%   {margin-left: 70vw;opacity: 0;}
    100% {margin-left:0vw;opacity: 1;}
}

@keyframes mymove2 {
    0%   {margin-left: 70vw;opacity: 0;}
    100% {margin-left:0vw;opacity: 1;}
}

.section-servicios{
    background-color: rgba(214, 221, 224, 0.377);
    padding-top:45px;
    background-image: url(../assets/Slider/fondy-home.jpg);
    background-size: cover
}


.pq-elergirnos{
    padding: 15px;margin-bottom: 40px;
            box-shadow: 0 5px 5px -5px #333;
}

.serv-di-web{
    border:1px solid rgb(55, 35, 170);
    background-color:rgb(211, 215, 223);
    padding: 5px;
}

.serv-text{
    color: #333
}

.fullscreen-video-wrap{
    position:absolute;

    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
}
  
.fullscreen-video-wrap video{
    min-height:100%;
    min-width:100%;
}
  
.header-overlay{
    height:100vh;
  
    left:0;
    width:100%;
    z-index:1;
    background:black;
    opacity:0.85;
}
  
.header-content{
    z-index:3;
    margin-top:60vh
}
  
  
.section{
    padding:20px 0;
}
  
.section-b{
    background:#333;
    color:#fff;
    height: 500px
}


.section-a{
    padding-bottom: 5px
}

/* Media patalla pequeñas */

@media screen and (max-width: 39.99875em){
    .header{
        /* position: unset; */
    }
    .section-nosotros2{
        background-color: rgba(14, 13, 13, 0.7);
        height: 440px;
    }

    #servicios{
        padding-top: 200px
    }
}


/* Media panatalla mediana */
@media print, screen and (min-width: 40em){
   .card{
    height: 460px
   }
}


/* Pantallas grandes */
@media print, screen and (min-width: 64em){
    .card{
        height: 460px
       }
}



  
  
  
  